.main-welcome {
  width: 60%;
  margin: 0 auto;
}

.main-welcome__hero {
  height: 100%;
  width: 100%;
}

.main-welcome__info-text {
  font-size: 32px;
  font-weight: bold;
  color: red;
}

.m-main__timer-value {
  color: red;
  animation: pulsate 3s ease-out infinite;
}

@keyframes pulsate {
  0% {
    font-size: 18px;
  }
  50% {
    font-size: 60px;
  }
  100% {
    font-size: 18px;
  }
}
