.main-app {
  height: 100vh;
}

.main-audio__play {
  position: fixed;
  top: 45%;
  right: 5%;
  width: 200px;
  cursor: pointer;
}

.main-audio__play-img {
  width: 200px;
  animation: 2s pulsateImg infinite;
}

@keyframes pulsateImg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
